* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: #202124;
      font-family: sans-serif;
  }
  
  button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-align: left;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
    background: #0f0f0f;
    transition: width 0.4s;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    color: #d4d4ea;

  }
  
  .btn{
    padding: 0 25px;
    width: 64px;
  }
  
  .sidebar-logo {
    height: 20px;
    cursor: default;
  }
  
  .sidebar-nav {
    flex: 1 1 auto;
  }
  
  .sidebar h2 {
    padding-left: 26px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar button {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    height: 50px;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 25px;
    color: #d4d4ea;
  }
  
  .sidebar button span:nth-child(2) {
    flex: 1 1 auto;
  }
  
  .sidebar button:hover {
    background: #6a28cb;
  }
  button.sub-nav  {
    padding-left: 72px; 
  }
  
  .subitem{
    height: 200px;
  }  